<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 加载 layui CSS 样式库 -->
    <link rel="stylesheet" type="text/css" href="/src/lib/layui/dist/css/layui.css">
    <!-- 加载 layui JS 样式库 -->
    <script src="/src/lib/layui/dist/layui.all.js" charset="utf-8"></script>
</head>

<body>
    <!-- 项目视图 容器 -->
    <div id="app"></div>
</body>

</html>